@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--color));
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background-color: #060505;
  --color: #FFFFFF;
  --light-brown: #937757;
  --light-grey: #F5F5F5;
  --dark-green: #394023;
  --green: #4F6203;
  --dark-grey: #383737;
}